<ion-view view-title="Bug Details">
  <ion-content>
  		
  		<div class="list card">
      <center>
  		<h1 class="header">{{bugdetail.name}}</h1>
  		<h3 class="sub-header">{{bugdetail.desc}}</h3>
  		<h5 class="sub-header">PRIORITY : <span>{{bugdetail.priority}}</span></h5>
  		<h5 class="sub-header">STATUS : <span>{{bugdetail.status}}</span></h5>
  		</center>
      </div>

        <div class="item item-body">
          <button class="button button-block" ui-sref="app.bugedit({bugid : bugdetail.bugid})">Update bug</button>
        </div>

       

  </ion-content>
    </ion-view>
