<ion-view view-title="Bug Details">
  <ion-content>
  		
  		<div class="list card">
  		<h1 class="header">{{bugdetail.name}}</h1>
  		<h3 class="sub-header">{{bugdetail.desc}}</h3>
  		<p>{{bugdetail.priority}}</p>
  		<p>{{bugdetail.status}}</p>
  		</div>

        <div class="item item-body">
          <button class="button button-block" ng-click="Frmshow()">Update bug</button>
        </div>

       

  </ion-content>
    </ion-view>
   <!-- Modal open !! -->
        <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <form name="editbugs" ng-submit="editbugFrm()">
          <!-- Bug edit -->
          <div class="item item-body">
  <div class="item item-divider">Bug Info</div>
       <label class="item item-input"><input type="text" ng-model="editbug.name" placeholder="{{bugdetail.name}}"> </label>
        
        <label class="item item-input">
        <textarea ng-model="editbug.desc" placeholder="{{bugdetail.desc}}" rows="6" cols="10"></textarea> </label>
  
  <div class="item item-divider">Priority</div>        
     <ion-list ng-repeat="v in prlist">
              <ion-radio name="bpriority" ng-model="editbug.priority" ng-value="v.name">{{v.name | uppercase }}</ion-radio>
          </ion-list>
    <div class="item item-divider">Status</div>        
     <ion-list ng-repeat="s in statlist">
              <ion-radio name="bstatus" ng-model="editbug.status" ng-value="s.status">{{s.status | uppercase }}</ion-radio>
          </ion-list>      

      <button class="button button-block button-balanced" type="submit">Update Bug</button>

  </div>
          <!-- Bug edit end -->
        </form>       
        </ion-content>
      </ion-modal-view>
    </script>
