<ion-view view-title="Team Members" hide-back-button="false">
  <ion-content>
	  <!--  <div class="card" ng-repeat="profilelist in list" >
		  <div class="item item-divider">{{profilelist.username}}</div>
		  <div class="item item-text-wrap">{{profilelist.role}}</div>
		  <div class="item item-text-wrap">{{profilelist.email}}</div>
	  </div> -->

	  <div class="list-group">

    <!-- <div class="list-group-item item-avatar" ng-repeat="profilelist in list">
     <img src="img/profile.png"> 
      <h4 class="header">Name : <b>{{profilelist.username | uppercase}}</b></h4>
      <h4 class="header">E-mail : <b>{{profilelist.email | uppercase}}</b> </h4>
      <h4 class="header">Role : <b>{{profilelist.role | uppercase}}</b> </h4>
    </div> -->
    <div class="panel panel-info" ng-repeat="profilelist in list">
  <div class="panel-heading">{{profilelist.role | uppercase}}</div>
  <div class="panel-body">
     <p class="header">Name : <b>{{profilelist.username | uppercase}}</b></p>
      <p class="header">E-mail : <b>{{profilelist.email | uppercase}}</b> </p>
  </div>
</div>

</div>



    </ion-list>
  </ion-content>
</ion-view>
