<ion-view view-title="Team Members" hide-back-button="false">
  <ion-content>
	  <!--  <div class="card" ng-repeat="profilelist in list" >
		  <div class="item item-divider">{{profilelist.username}}</div>
		  <div class="item item-text-wrap">{{profilelist.role}}</div>
		  <div class="item item-text-wrap">{{profilelist.email}}</div>
	  </div> -->

	  <div class="list">

    <div class="item item-avatar" ng-repeat="profilelist in list">
      <!-- <img src="img/profile.png"> -->
      <h2 class="header">Name : <b>{{profilelist.username}}</b></h2>
      <h4 class="header">E-mail : <b>{{profilelist.email}}</b> </h4>
      <p>Role : <b>{{profilelist.role}}</b> </p>
    </div>
    

</div>



    </ion-list>
  </ion-content>
</ion-view>
