<ion-view view-title="Module Detail">
  <ion-content>

  <div class="card">
  <div class="item item-divider">
   {{mod_detail_data.modulename}}
  </div>
  <div class="item item-text-wrap">
    {{mod_detail_data.moduledesc}}
  </div>
  
</div>
<div class="card">
<i class="icon ion-android-delete" ng-click="delMod(mod_detail_data.moduleid)" ui-sref-opts="{reload: true, inherit: false}">Delete Module</i>
</div>
 <div class="list card">

<a class="item item-icon-left" ng-repeat="bug in bugsbystatus">
   <i class="icon ion-person-stalker"></i>
   <h3 class="sub-header">{{bug.status}}</h3>
   <span class="badge badge-assertive">{{bug.bugs}}</span>
 </a>
 
 



</div>




<div class="item item-divider">Bugs</div>
 <div class="item item-body">
      <!-- <button class="button button-assertive" ng-click="addnew()">Add Member</button> -->
       <center> <button class="button icon-left ion-ios-plus button-positive"  ng-click="addnewBug()">Add Bug</button>
          </center>
    </div>
    

<div class="list card" ng-show="addBugfrm">

  <form name="newModule" ng-submit="addnew_bug()">
  <div class="item item-body">
  <div class="item item-divider">Bug Info</div>
       <label class="item item-input"><input type="text" ng-model="bugf.name" placeholder="Bug Name"> </label>
        <label class="item item-input"><textarea ng-model="bugf.desc" placeholder="Bug Description" rows="6" cols="10"></textarea> </label>
	
	<div class="item item-divider">Priority</div>        
		 <ion-list ng-repeat="v in prlist">
              <ion-radio name="priority" ng-model="bugf.priority" ng-value="v.name">{{v.name | uppercase }}</ion-radio>
          </ion-list>
    <div class="item item-divider">Status</div>        
		 <ion-list ng-repeat="s in statlist">
              <ion-radio name="status" ng-model="bugf.status" ng-value="s.status">{{s.status | uppercase }}</ion-radio>
          </ion-list>      

      <button class="button button-block button-balanced" type="submit">Add Bug</button>

  </div>
</form>

</div>
<div class="item item-body">
       <center> <button class="button icon-left ion-ios-list-outline button-positive"  ng-click="showBugs()">Show Bugs</button>
          </center>
    </div>  
  <!-- List of Modules -->
    <ion-list ng-show="showbgs">
      <ion-item ng-repeat="bugs in bugdata track by $index" class="item" ui-sref="app.bug-detail({bugid : bugs.bugid})">
       <h2>NAME : <b>{{bugs.name}}</b></h2>
      <p>DESCRIPTION : {{bugs.desc}} </p>
      <p>PRIORITY : <B><span ng-class="{
        'color-red': bugs.priority === 'high', 
        'color-blue': bugs.priority === 'medium', 
        'color-green': bugs.priority === 'low'}">{{bugs.priority}} </span></B>  </p>
      <p>STATUS : {{bugs.status}} </p>
      </ion-item>
       
    </ion-list>
<style type="text/css">
  .color-green {
  color: green;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}
</style>
  </ion-content>
  </ion-view>