<style type="text/css">
  
  .addmember {
      margin: auto;
    width: 50%;
    
   
  }
</style>
<ion-view view-title="Profile">
  <ion-content>

<div class="list card">

 <a class="item item-icon-left"  ui-sref="app.listmem">
    <i class="icon ion-person-stalker"></i>
    Team Members
    <span class="badge badge-assertive">10</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-bug"></i>
    Bugs Reported
    <span class="badge badge-assertive">20</span>
  </a>

   <a class="item item-icon-left" href="#">
    <i class="icon ion-checkmark-circled"></i>
    Bugs Solved
    <span class="badge badge-assertive">10</span>
  </a>


</div>

    <div class="addmember">
      <!-- <button class="button button-assertive" ng-click="addnew()">Add Member</button> -->
        <button class="button icon-left ion-person-add button-positive"  ng-click="addnew()">Add Team Members</button>



    </div>

<div class="list card" ng-show="addfrm">

  <form name="newmembrForm" ng-submit="addnewmm()">
  <div class="item item-body">
       <label class="item item-input"><input type="text" ng-model="addn.username" placeholder="Username"> </label>
        <label class="item item-input"><input type="text"  ng-model="addn.useremail" placeholder="Email Address"> </label>
        <label class="item item-input"><input type="radio"  ng-model="addn.useremail" placeholder="Email Address" value="aa"> </label>

          <ion-list ng-repeat="v in value">
              <ion-radio ng-model="addn.userrole" ng-value="v.role">{{v.role}}</ion-radio>
          </ion-list>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
      <button class="button button-balanced" type="submit">Add</button>

  </div>
</form>

</div>







  </ion-content>

  <div class="tabs tabs-icon-left">
  <a class="tab-item" ui-sref="app.profile">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" ui-sref="app.listmem">
    <i class="icon ion-star"></i>
    Team Members
  </a>
  <a class="tab-item" ui-sref="app.listbug">
    <i class="icon ion-bug"></i>
    Bugs Reported
  </a>
</div>
</ion-view>
