<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/app/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/app/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <!-- <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		   <div class="app-logo"><img src="img/logo.png"></div>
			
			<div class="list list-inset removePM">
				<form name="regBug" ng-submit="signupbg()" novalidate>
			  <label class="item item-input">

			  <input type="text" ng-model="frm.uname" placeholder="Username"  required>
			   </label>
			  <label class="item item-input">

			  <input type="text"  ng-model="frm.uemail" placeholder="Email Address" required>
			   </label>
			  <label class="item item-input">

			  <input type="text" ng-model="frm.uteam" placeholder="Team Name" required>
			   </label>
			  <label class="item item-input">

			  <input type="password" ng-model="frm.upass" ng-minlength="5" ng-maxlength="20" placeholder="Password" required>
			   </label>

				<div class="loginButton"><button type="submit" class="button ion-person button-block button-balanced"> Register </button>  </div>
				</form>
			</div>
			
				<div class="padding">
            <p ng-show="regBug.uname.$error.required">* Username is required</p>
            <p ng-show="regBug.uname.$invalid && !regBug.uname.$pristine">* Username must be an email address</p>
            <p ng-show="regBug.uname.$error.minlength">* Username must be longer than 5 characters</p>
            <p ng-show="regBug.upass.$error.required">* Password is required</p>
            <p ng-show="regBug.upass.$error.minlength">* Password must be longer than 6 characters</p>
        </div>
			
	  </div>
  </div> -->
<!-- 
	<div class="row  padding removePM">
	  <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
	  <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
	</div> -->



  <div class="container">
     <form name="signupForm" ng-submit="signupbg()" novalidate>

        <!-- EMAIL -->
        <div class="form-group">
            <label>Username </label>
            <input type="text" name="Username" class="form-control" ng-model="frm.uname">
           
        </div>

         <div class="form-group" ng-class="{ 'has-error' : frm.email.$invalid && !frm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="frm.uemail">
            <p ng-show="frm.email.$invalid && !frm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

<!-- <input type="text" ng-model="frm.uteam" placeholder="Team Name" required> -->


  <div class="form-group">
            <label>Team Name</label>
            <input type="text" name="teamname" class="form-control" ng-model="frm.uteam">
          
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : frm.upass.$invalid && !frm.upass.$pristine }">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="frm.upass" ng-minlength="4">
           <!--  <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
            <p ng-show="userForm.password.$error.maxlength" class="help-block">Password is too long.</p> -->
        </div>
                
        
        
        <button type="submit" class="btn" ng-disabled="signupForm.$invalid">LOG IN</button>
        
    </form>
    </div>
  </ion-content>
</ion-view>
